<div data-role="page">

  <div data-role="header" data-position="inline" data-theme="b">
    <h1>Retail Demo</h1>
    <a href="<%= url_for(:action => :bmain) %>" class="ui-btn-left"  data-icon="back" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
     Back 
    </a>
   
  </div>
      <div data-role="content" class="ui-body ui-body-a">
    
      <div class="ui-body ui-body-b">
      <center><h1>Acquired by MSI</h1></center>
            
            <div  data-theme="b" data-content-theme="b">
              
      <p style="text-wrap:none;"> Motorola Solutions, Inc. (NYSE: MSI) ("Motorola Solutions") and Psion Plc. (LN: PON) ("Psion") today announced that they have agreed on the terms of a recommended offer by Motorola Solutions for all Psion shares for 88 pence (US $1.36) in cash per Psion share. It is intended that the acquisition will be effected by way of a recommended cash offer. </p>
            </div>
          </div>

     
      <br/><br/><br/>
      
             
      <br/><br/><br/><br/><br/><br/><br/><br/><br/> <br/><br/><br/><br/><br/><br/>   
           
</div>
